__pycache__/
.ipynb_checkpoints/
.idea/
models/__pycache__/
models/.ipynb_checkpoints/
utils/.ipynb_checkpoints/
utils/__pycache__/
requirementsOLD.txt
static/data/small_gt.bin
static/data/small_kn.bin
.vscode/