<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="icon" type="image/ico" href="{{ url_for('static',filename='img/favicon.ico') }}"/>
    <title>Hashtag Master Demo</title>
</head>

<body>
    <div class='navbar-wrapper'>
        <nav class="navbar navbar-light">
            <div class='logo-container'>
                <img class='logo' src="{{ url_for('static',filename='img/logo-nobg.png') }}" alt="logo"></img>
                <div class ='header'>
                    <h2 class='title'>#Hashtag Master</h2>
                    <h4>Segmentation for Twitter hashtags</h4>
                </div>
            </div>
            <div>
                <button id='paper-link' onclick="window.location.href='https://www.aclweb.org/anthology/P19-1242/'" type="button" class="btn btn-outline-success"></button>
                <label for='paper-link' class='btn-2'>paper</label>
                <button id='git-link' onclick="window.location.href='https://github.com/mounicam/hashtag_master'" type="button" class="btn btn-outline-success"></button>   
                <label for='git-link' class='btn-2'>view on <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></label>             
            </div>
        </nav>
    </div>

    <div id='navbar-sticky' class='navbar-sticky-wrapper'>
        <nav class="navbar navbar-light fixed-top">
            <div class='logo-container'>
                <img class='logo' src="{{ url_for('static',filename='img/logo-nobg.png') }}" alt="logo"></img>
                <div class ='header'>
                    <h2 class='title'>#Hashtag Master</h2>
                </div>
            </div>
            <div>
                <button id='paper-link' onclick="window.location.href='https://www.aclweb.org/anthology/P19-1242/'" type="button" class="btn btn-outline-success"></button>
                <label for='paper-link' class='btn-2'>paper</label>
                <button id='git-link' onclick="window.location.href='https://github.com/mounicam/hashtag_master'" type="button" class="btn btn-outline-success"></button>   
                <label for='git-link' class='btn-2'>view on <svg viewBox="0 0 16 16" width="14" height="14" class="octicon octicon-mark-github" aria-hidden="true"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg></label>             
            </div>
        </nav>
    </div>
    
    <div class="container demo">
        <br />
        <span class='model-intro'>Our model can split a Twitter hashtag into a sequence of meaningful words</span>
        <br />
        <span class='hash-symb'>#</span>
        <input id='hashtag' name='hashtag' type='text' class='validate' spellcheck="false" autofocus placeholder='hashtag...'
            maxlength="30">
        <div id='pred_container'></div>
        </div>
        
        <div class='more'>
            <button id='more' class="mdl-js-ripple-effect mdl-button mdl-js-button mdl-button--fab"
                data-upgraded=",MaterialButton">
                <i class="material-icons">keyboard_arrow_down</i>
            </button>
        </div>
        
        <div class='seg-about' id='about'>
            <div class="container">
                <h2>What is segmentation?</h2>
                <div class="col-10 seg-desc">
                    <span>Numerous systems use twitter data to make predictions and they typically ignore hashtags. Hashtag
                        Master converts the hashtags to meaningful words. This means that tasks that use Twitter data have more data to draw from.</span>
                </div>
                <div class='row tweet-container'>
                    <div class='col tweet-display'>
                        <div class='profile'>
                            <img src="{{ url_for('static',filename='img/gatech.jpg') }}" />
                            <div>
                                <span class='profile-name'>Georgia Tech</span>
                                <span class='profile-user'>@GeorgiaTech</span>
                            </div>
                        </div>
                        <div class='tweet-contents'>Wishing every Yellow Jacket a <div>#merrychristmas</div> and a safe holiday season! <div>#jacketsprotectjackets</div>
                        </div>
                        <div class='timedate'>
                            7:08 PM · Nov 27, 2020
                        </div>
                    </div>
                    <div class='col tweet-hashtags'>
                        <div>#merrychristmas</div>
                        <div>#jacketsprotectjackets</div>
                    </div>
                    <div class='col tweet-segmented'>
                        <div>Merry Christmas</div>
                        <div>Jackets Protect Jackets</div>
                    </div>
                </div>
                <br />
                <div class='row tweet-container'>
                    <div class='col tweet-display'>
                        <div class='profile'>
                            <img src="{{ url_for('static',filename='img/nasa.jpg') }}" />
                            <div>
                                <span class='profile-name'>NASA</span>
                                <span class='profile-user'>@NASA</span>
                            </div>
                        </div>
                        <div class='tweet-contents'><div>#DidYouKnow</div> each of the boosters on the <div>#SLSrocket</div> are taller than the Statue of Liberty? When <div>#Artemis</div> I launches to the Moon, it will feature the iconic Worm logo on each booster.
                        </div>
                        <div class='timedate'>
                            2:00 PM · Dec 23, 2020
                        </div>
                    </div>
                    <div class='col tweet-hashtags'>
                        <div>#DidYouKnow</div>
                        <div>#SLSrocket</div>
                        <div>#Artemis</div>
                    </div>
                    <div class='col tweet-segmented'>
                        <div>Did you know</div>
                        <div>SLS Rocket</div>
                        <div>Artemis</div>
                    </div>
                </div>
                <div class='replay-button'>
                    <button id='replay' type="button" class="btn btn-outline-success"></button>
                    <label for='replay' class='btn-1'>replay</label>
                </div>
            </div>
        </div>
    </div>

    <div class='seg-bulk' id='bulk'>
        <div class='container'>
            <div class='row'>
                <div class='col'>
                    <h3>Evaluate in Bulk</h3>
                    <textarea placeholder='hashtags here... (ex. helloworld, worldhello)' id='input_area'></textarea>
                    <div class='bulk-div'><span>or</span></div>
                    <div>
                        <input type="file" name="file" id="file_area" class="inputfile" accept=".csv,.tsv" />
                        <label for="file_area"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path></svg><span>upload a .csv or .tsv</span></label>
                    </div>
                    <button id='input_area_submit' type="button" class="btn btn-outline-success"></button>
                    <label for='input_area_submit' class='btn-1 submit-label'>submit</label>
                </div>
                <div class='col'>
                    <h3>Evaluate by Request</h3>
                    <span>We have created an API for your apps to be able to use our segementing tool.</span>
                    <div class='code-exp'>
                        <span>Submit an <b>individual string</b> to be segemented:</span>
                        <br />
                        <div class='code-wrap'>
                            <code>GET https://www.url.com/?hashtag={Your Hashtag}</code>
                        </div>
                        <span>Submit a <b>*.TSV</b> or <b>*.CSV</b> file using:</span>
                        <br />
                        <div class='code-wrap'>
                            <code>POST https://www.url.com/bulk</code>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class='seg-footer'>
        <div class='container'>
            <span>Paper by Mounica Maddela, Wei Xu, Daniel Preoţiuc-Pietro. Web demo by David Heineman</span>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.js"></script>
<script src="{{ url_for('static',filename='scripts/script.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/api_call.js') }}"></script>